.LandingPage{
  text-align: center;
}
input[type=search] {
  width: 60%;
  padding: 16px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
 
}
.SearchBUtoon{
  padding: 1.5%;
  font-size: 18px;
  background-color: #184e65;
  color: white;
  border-radius: 12px;
}
.SearchBUtoon:hover{
  box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
  
}
.POpulerhead{
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 12px;
  /* border: solid #0e4157 2px; */
  padding: 1%;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.wrap{
  display: inline-block;
  padding: 2%;
  border: solid gray 1px;
  justify-content: space-between;
  margin: 1%;
  width: 20%;
}
.wrap1{
  display: inline-block;
  padding: 1%;
  /* border: solid gray 1px; */
  justify-content: space-between;
  margin: 1%;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.POpularBookDiv{
  width: 100%;
  /* display: flex; */
}
.Row1{
  margin: 2%;
}
@media only screen and (max-width: 843px) {
  div.wrap1 {
   display: block;
   /* justify-items: center; */
   margin-left: 30%;
  }
}
.heading{
  color: white;
 
  padding: 1%;
  margin-top: 0%;
}
img{
  width: 60%;
  height: 250px;
}
.BookDetailDiv{
  border: solid black 2px;
}
.wrap:hover{
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}
h2{
  font-size: 20px;
}
.loaderDiv{
  /* text-align: center; */
  /* justify-items: center */
  margin-left: 50%;
}
.flex{
  display: flex;
  background-color: #0e4157;
 justify-content: center;
}
.themeimg{
  width: 5%;
  height: 40%;
  margin-left: 33%;
  padding-left: 20%;
}
.HomeButton{
  border-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: dodgerblue;
  margin-top: 2%;
  border-radius: 12px;
}